.follow {
  $circleSize: 250px;
  $afterSize: $circleSize * .8;
  $afterMargin: $circleSize - $afterSize;
  $itemSize: 80px;
  $itemLen: 3;
  $gap: $PI / $itemLen;
  $offset: $PI - $gap / 2;

  @include circle($circleSize, black);
  display: block;
  position: absolute;
  top: 50%; left: 50%;
  margin-top: - $circleSize / 2;
  margin-left: - $circleSize / 2;

  &:after {
    @include circle($afterSize, white);
    content: '';
    display: block;
    margin-left: $afterMargin / 2;
    margin-top: $afterMargin / 2;
    transition: all .2s ease-in-out;
  }

  &__list {
    list-style-type: none;
    padding: 0; margin: 0;

    &_item {
      transition: transform .3s ease-in-out, opacity .3s ease-in-out;
      position: absolute;
      left: 50%; top: 40%;
      margin-left: -$itemSize / 2;
      margin-top: -$itemSize / 2;
      @include spin($gap, $itemLen, $circleSize * .7, $offset);
      opacity: 0;
    }
  }

  &:hover {
    &:after {
      margin-top: $afterMargin / 8;
    }
    .follow {
      &__list {
        &_item {
          opacity: 1;
          @include spin($gap, $itemLen, $circleSize, $offset);
        }
      }
    }
  }
}